.pitch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 2rem;
}
.pitch img {
  max-width: 420px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .pitch img {
    width: 90%;
  }
}
@media screen and (max-width: 940px) {
  .pitch {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .pitch {
    padding-top: 0;
  }
}

.pitch-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pitch-text p {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 0.5rem;
  text-align: center;
}
@media (max-width: 480px) {
  .pitch-text p {
    font-size: 1.4rem;
  }
}
.pitch-text small {
  color: white;
  font-size: 1rem;
  font-family: "Noto Sans", sans-serif;
}

.how {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 10rem auto;
}
@media (max-width: 1024px) {
  .how {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 5rem auto 2rem;
  }
}
@media (max-width: 480px) {
  .how {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 5rem auto 2rem;
  }
}

@media (max-width: 480px) {
  .desktop-instructions {
    display: none;
  }
}

.mobile-instructions {
  display: none;
}
.mobile-instructions .step-instructions {
  font-size: 1rem !important;
  max-width: 350px !important;
  line-height: 1.4rem !important;
  gap: 0.5rem !important;
}
.mobile-instructions .step-instructions strong {
  font-size: 1.5rem !important;
}
@media (max-width: 1024px) {
  .mobile-instructions .step-image img {
    height: 380px !important;
  }
}
@media (max-width: 480px) {
  .mobile-instructions {
    display: block;
  }
}

.mobile-note {
  display: none;
  font-size: 1rem;
  color: orange;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}
@media (max-width: 480px) {
  .mobile-note {
    display: block;
  }
}

.swiper {
  position: relative;
  width: 90%;
  margin: 2rem auto 5rem;
  --swiper-pagination-bullet-size: 15px;
  --swiper-navigation-size: 60px;
}

.swiper-wrapper {
  height: 550px;
}
@media (max-width: 1024px) {
  .swiper-wrapper {
    height: 520px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
@media (max-width: 1024px) {
  .swiper-slide {
    flex-direction: column;
  }
}

.step-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  width: 500px;
  margin: 0;
  text-align: center;
  color: white;
  line-height: 2rem;
}
.step-instructions strong {
  font-size: 2rem;
  font-weight: bold;
  color: #ff3e3e;
}
@media (max-width: 1024px) {
  .step-instructions {
    font-size: 1.2rem;
  }
}

.step-image img {
  max-height: auto;
  width: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .step-image img {
    height: 300px;
    width: auto;
    margin: auto;
  }
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.navigation-buttons button {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  background-color: #176056;
  border-radius: 10px;
  transition: 0.1s linear;
  border: none;
  padding: 0.7rem 1.5rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0;
  width: 200px;
}
.navigation-buttons button:hover {
  cursor: pointer;
  filter: brightness(130%);
}
@media (max-width: 768px) {
  .navigation-buttons button {
    min-width: 50px;
  }
}
@media (max-width: 480px) {
  .navigation-buttons button {
    margin: 0 0 2rem 1.1rem;
  }
}
@media (max-width: 1024px) {
  .navigation-buttons {
    margin-top: 0;
  }
}/*# sourceMappingURL=local.css.map */